In [ ]:
name - tony stark
age = 51
print(name)
print(age)
print("Tony is a genius")